body {
 background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg');    
 background-size: cover;
 font-size: 14px; 
 font-family: 'Open Sans', sans-serif;
}

h1,h2 {
    text-align: center;
    color:green;
}      
#menu {
    background-color: rgba(3, 3, 3, 0.3);    
    text-align: center;                                     
}
li.opcionMenu{
    display: inline-block;
    padding: 10px 20px;
    /*margin: 10px;*/
    border: solid 6px darkblue;
    border-bottom-style: unset;
    height: 20px;
}

li a{
    text-decoration: none;
}

li a:hover{
    background-color: white;
}

#principal{
    color: #333;  
    text-align: left;
}
